extends layout

block content
  h1(class=" pt-14 font-bold text-center text-4xl text-gray-800") Best #{title}
  
  div(class="flex flex-col items-center py-4") 
    h2(class="text-lg my-1") Start off by adding a synthesizer
    div(class="flex justify-center items-center")
      a(href='/catalog/synth/add' 
      class="w-full flex items-center justify-center text-green-700 border-green-700 border-2 pr-2 py-1 pl-3 hover:border-green-600 hover:text-green-600") Synthesizer
        span(class="material-icons ml-1" aria-hidden="true") add
        

    h2(class="text-lg mt-5 mb-1") Or a manufacturer
    div(class="flex justify-center items-center")
      a(href='/catalog/manufacturer/add' 
      class="w-full flex items-center justify-center text-green-700 border-green-700 border-2 pr-2 py-1 pl-3 hover:border-green-600 hover:text-green-600") Manufacturer
        span(class="material-icons ml-1" aria-hidden="true") add
        

  svg(class='fixed bottom-0 left-0 right-0' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
   path(fill="black" fill-opacity="0.2" d="M0,64L360,256L720,224L1080,96L1440,224L1440,320L1080,320L720,320L360,320L0,320Z")


  

    
      
