extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
  a(href='/catalog/synth/add') Add new synth
  br
  a(href='/catalog/manufacturer/add') Add new manufacturer


  

    
      
