extends layout

block content
  h1 #{manufacturer.name}

  p Do you really want to delete this Manufacturer?

    form(method='POST' action='')
      div.form-group
        input#manufacturerid.form-control(type='hidden',name='manufacturerid', required='true', value=manufacturer._id )

      button.btn.btn-primary(type='submit') Delete