extends layout

block content
  h1 #{synth.name}

  p Do you really want to delete this Synth?

    form(method='POST' action='')
      div.form-group
        input#synthid.form-control(type='hidden',name='synthid', required='true', value=synth._id )

      button.btn.btn-primary(type='submit') Delete